<nz-list nzItemLayout="horizontal">
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Empresa CUIT
      <input nz-input placeholder="Basic usage" type="number">
    </div>

    <div nz-col nzSpan="12">N° Legajo
      <input nz-input placeholder="Basic usage" type="number" />
    </div>
  </div>

  <br>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Apellido y Nombre
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="12">CUIL / CUIT
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h1>Parentezco</h1>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Nombre
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="12">Apellido
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12"> Fecha de nacimiento: <br>
      <nz-date-picker style="width: 100%"></nz-date-picker>
    </div>

    <div nz-col nzSpan="12">Nacionalidad
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="6">Tipo de Documento
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="18">Numero de Documento
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <br>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24">Sexo <br>
      <nz-radio-group>
        <label nz-radio nzValue="Male">Masculino</label>
        <label nz-radio nzValue="Fem">Femenino</label>
        <label nz-radio nzValue="Others">Otros</label>
      </nz-radio-group>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24">Estado Civil <br>
      <nz-radio-group>
        <label nz-radio nzValue="Single">Soltero/a</label> <br>
        <label nz-radio nzValue="Married">Casado/a</label> <br>
        <label nz-radio nzValue="Separate">Separado/a</label> <br>
        <label nz-radio nzValue="Divorced">Divorciado/a</label> <br>
        <label nz-radio nzValue="Widower">Viudo/a</label>
      </nz-radio-group>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h1>Domicilio</h1>

  <div nz-row [nzGutter]="16">
    <br>
    <div nz-col nzSpan="6">Pais <br>
      <nz-select>
        <nz-option nzValue="Argentina" nzLabel="Argentina"></nz-option>
        <nz-option nzValue="EE.UU." nzLabel="EE.UU."></nz-option>
        <nz-option nzValue="Cordoba" nzLabel="Cordoba"></nz-option>
      </nz-select>
    </div>

    <div nz-col nzSpan="6">Provincia <br>
      <nz-select>
        <nz-option nzValue="Buenos Aires" nzLabel="Buenos Aires"></nz-option>
        <nz-option nzValue="Catamarca" nzLabel="Catamarca"></nz-option>
        <nz-option nzValue="Chaco" nzLabel="Chaco"></nz-option>
        <nz-option nzValue="Chubut" nzLabel="Chubut"></nz-option>
        <nz-option nzValue="Córdoba" nzLabel="Córdoba"></nz-option>
        <nz-option nzValue="Corrientes" nzLabel="Corrientes"></nz-option>
        <nz-option nzValue="Entre Ríos" nzLabel="Entre Ríos"></nz-option>
        <nz-option nzValue="Formosa" nzLabel="Formosa"></nz-option>
        <nz-option nzValue="Jujuy" nzLabel="Jujuy"></nz-option>
        <nz-option nzValue="La Pampa" nzLabel="La Pampa"></nz-option>
        <nz-option nzValue="La Rioja" nzLabel="La Rioja"></nz-option>
        <nz-option nzValue="Mendoza" nzLabel="Mendoza"></nz-option>
        <nz-option nzValue="Misiones" nzLabel="Misiones"></nz-option>
        <nz-option nzValue="Neuquén" nzLabel="Neuquén"></nz-option>
        <nz-option nzValue="Río Negro" nzLabel="Río Negro"></nz-option>
        <nz-option nzValue="Salta" nzLabel="Salta"></nz-option>
        <nz-option nzValue="San Juan" nzLabel="San Juan"></nz-option>
        <nz-option nzValue="San Luis" nzLabel="San Luis"></nz-option>
        <nz-option nzValue="Santa Cruz" nzLabel="Santa Cruz"></nz-option>
        <nz-option nzValue="Santa Fe" nzLabel="Santa Fe"></nz-option>
        <nz-option nzValue="Santiago del Estero" nzLabel="Santiago del Estero"></nz-option>
        <nz-option nzValue="Tierra del Fuego, Antártida e Islas del Atlántico Sur"
          nzLabel="Tierra del Fuego, Antártida e Islas del Atlántico Sur"></nz-option>
        <nz-option nzValue="Tucumán" nzLabel="Tucumán"></nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Localidad
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="12">Barrio
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Municipio
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="12">Departamento provincial
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Calle
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="12">Altura calle
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h1>Datos de seguro de vida</h1>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24">Beneficio seguro de vida obligatorio
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">Persona a Cargo
      <input nz-input placeholder="Basic usage" type="text" />
    </div>

    <div nz-col nzSpan="12">Porcentaje deduccion ganancia
      <input nz-input placeholder="Basic usage" type="text" />
    </div>
  </div>
</nz-list>