<ng-container *ngIf="info; then result; else noInfo"></ng-container>

<ng-template #result>

    <div class="displayFlex alignCenter headerWidget" nz-row>
        <div nz-col nzSpan="12" class="truncate">
            <span class="marginRight10Px truncate">
                {{TotalDays}} DIAS DISPONIBLES
            </span>
        </div>

        <div nz-col class="displayFlex BtnEnd" nzSpan="12">
            <button nz-button nzType="primary" [nzSize]="size">
                <span nz-icon nzType="plus"></span>
            </button>
        </div>

    </div>

    <!-- <span>Proximas vacaciones: </span> -->
    <div *ngFor="let item of vacations">
        <span>
            Vacaciones aprobadas
        </span>

        <nz-alert nzBanner nzMessage="
            {{item.VacationFromOption | date: 'dd/MM/yyyy'}}
            hasta
            {{item.VacationToOption | date: 'dd/MM/yyyy'}}">
        </nz-alert>

    </div>


</ng-template>

<ng-template #noInfo>
    <h1>SIN INFORMACION...</h1>
</ng-template>