<ng-container *ngIf="info; then result; else noInfo" />

<ng-template #result>
    <div class="displayFlex alignCenter headerWidget" nz-row>
        <div nz-col nzSpan="17" class="truncate">
            <span nz-typography><strong>{{TotalDays}} {{ 'DAYSAVAILABLE' | i18n }}</strong></span>
        </div>

        <div nz-col class="displayFlex BtnEnd" nzSpan="7">
            <button nz-button nzType="default" nzShape="circle" [nzSize]="size" (click)="RequestVacation()">
                <span nz-icon nzType="plus"></span>
            </button>
        </div>
    </div>

    <div>
        <ng-container *ngFor="let item of vacations" style="height: 500px; overflow-y: auto;">
            <strong><nz-alert nzType="info" nzMessage="{{ 'APPROVED_VACATIONS' | i18n }}"></nz-alert></strong>
            <nz-alert nzBanner nzMessage="
            {{item.VacationFromOption | date: 'dd/MM/yyyy'}}
            {{ 'VACATION_TO' | i18n }}
            {{item.VacationToOption | date: 'dd/MM/yyyy'}}">
            </nz-alert>
        </ng-container>
    </div>
</ng-template>

<ng-template #noInfo>
    <div class="displayFlex alignCenter headerWidget" nz-row>
        <div nz-col nzSpan="24" class="truncate">
            <span nz-typography><strong> {{ 'NO_INFORMATION' | i18n }} </strong></span>
        </div>
    </div>
    <h1 *ngShow="result == true" style="text-align: center;"> {{ 'UNABLE_TO_GET_INFORMATION' | i18n }} </h1>
</ng-template>
