.title {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #1890ff;
}

.title span {
    color: white;
}

.item-container {
    scrollbar-color: #4d4d4d !important;
    overflow: hidden scroll;
}

.nz-list-item {
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    transition: background-color 0.3s ease;
}

.nz-list-item:hover {
    background-color: rgb(235 235 235);

    /* Color al hacer hover */
}

div span a {
    color: #00000073;
}

.head-example {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
    background: #eee;
    border-radius: 4px;
}

.push-badge {
    margin-right: 10px;
}

.text-color-grey {
    color: #00000073;
}

.flex-container {
    display: flex;
    justify-content: flex-start;

}

.flex-item:first-child {
    margin-right: 10px;
}

.icon-text {
    display: flex;
    align-items: center;
}

#scrollbar1::-webkit-scrollbar {
    width: 10px;
}

#scrollbar1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d55959;
}