<div class="title">
  <span nz-typography><strong>Tareas Pendientes</strong></span>
  <nz-badge [nzCount]="data.length" />
</div>
<div class="item-container" [style.height.px]="divHeight">
  <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
    <ng-container *ngFor="let item of data">
      <nz-list-item [nzNoFlex]="true" class="nz-list-item" (dblclick)="OpenTask(item.url)">
        <div class="flex-container">
          <div class="flex-item">
            <span nz-icon nzType="info-circle" nzTheme="outline"></span>
          </div>
          <div class="flex-item">
            <strong>{{ item.Tarea }}</strong>
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-item">
            <span nz-icon nzType="apartment" nzTheme="outline"></span>
          </div>
          <div class="flex-item">
            <span class="text-color-grey">{{ item.Etapa }}</span>
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-item">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
          </div>
          <div class="flex-item">
            <span class="text-color-grey">{{ item.Fecha | date: 'dd/MM/yy' }}</span>
          </div>
        </div>
      </nz-list-item>
      <nz-list-empty *ngIf="data.length === 0" />
    </ng-container>
  </nz-list>
</div>
