<div class="title">
  <span nz-typography><strong>Tareas Pendientes ({{ data.length }})</strong></span>
</div>
<div class="item-container" [style.height.px]="divHeight">
  <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
    <ng-container *ngFor="let item of data">
      <nz-list-item [nzNoFlex]="true" class="nz-list-item" (dblclick)="OpenTask(item.url)">
        <div><span nz-typography><strong>{{ item.Tarea }}</strong></span></div>
        <div><span nz-typography>Etapa: {{ item.Etapa }} </span></div>
        <div><span nz-typography>Fecha: {{ item.Fecha | date:'dd/MM/yy' }} </span></div>
      </nz-list-item>
      <nz-list-empty *ngIf="data.length === 0" />
    </ng-container>
  </nz-list>
</div>