.title {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1890ff;
}

.title span {
    color: white;
}

.item-container {
    overflow: hidden scroll;
    scrollbar-color: rgba(0, 0, 0, 0.3) #ffffff !important;
}

.nz-list-item {
    transition: background-color 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nz-list-item:hover {
    background-color: rgb(235 235 235);

    /* Color al hacer hover */
}

div span a {
    color: #00000073;
}

.head-example {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
}

.push-badge {
    margin-right: 10px;
}

.text-color-grey {
    color: rgb(175, 175, 175);
}