<h3>{{ 'app.register.register' | i18n }}</h3>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
  <nz-form-item>
    <nz-form-control [nzErrorTip]="companyNameErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <nz-form-label nzRequired="true">{{ 'app.register.form-company-name-placeholder' | i18n }}</nz-form-label>
        <input nz-input formControlName="companyName"
          placeholder="{{ 'app.register.form-company-name-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #companyNameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.enterprise.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.maxlength">{{ 'validation.enterprise.maxLength' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="nameErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <nz-form-label nzRequired="true">{{ 'app.register.form-name-placeholder' | i18n }}</nz-form-label>
        <input nz-input formControlName="name" placeholder="{{ 'app.register.form-name-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #nameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.name.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.maxlength">{{ 'validation.name.maxLength' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="lastnameErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <nz-form-label nzRequired="true">{{ 'app.register.form-lastname-placeholder' | i18n }}</nz-form-label>
        <input nz-input formControlName="lastname"
          placeholder="{{ 'app.register.form-lastname-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #lastnameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.lastname.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.maxlength">{{ 'validation.lastname.maxLength' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="departmentErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <nz-form-label nzRequired="true">{{ 'app.register.form-department-placeholder' | i18n }}</nz-form-label>
        <nz-select nz-input formControlName="department" nzSize="large"
          nzPlaceHolder="{{ 'app.register.form-department-placeholder' | i18n }}">
          <nz-option *ngFor="let item of listDepartments" [nzValue]="item?.department_id"
            [nzLabel]="item?.departmentname" />
        </nz-select>
      </nz-input-group>
      <ng-template #departmentErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.department.required' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mailErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <nz-form-label nzRequired="true">{{ 'app.register.form-email-placeholder' | i18n }}</nz-form-label>
        <input nz-input formControlName="mail" placeholder="{{ 'app.register.form-email-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #mailErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.email.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.email">{{ 'validation.email.wrong-format' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.maxlength">{{ 'validation.email.maxLength' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.emailExists">{{ 'validation.email.emailExists' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock" nz-popover nzPopoverPlacement="right"
        nzPopoverTrigger="focus" [(nzPopoverVisible)]="visible" nzPopoverOverlayClassName="register-password-cdk"
        [nzPopoverOverlayStyle]="{ 'width.px': 240 }" [nzPopoverContent]="pwdCdkTpl">
        <nz-form-label nzRequired="true">{{ 'app.register.form-password-placeholder' | i18n }}</nz-form-label>
        <input nz-input type="password" formControlName="password" maxlength="50"
          placeholder="{{ 'app.register.form-password-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #pwdCdkTpl>
        <div style="padding: 4px 0">
          <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | i18n }}</div>
            <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | i18n }}</div>
            <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | i18n }}</div>
          </ng-container>
          <div class="progress-{{ status }}">
            <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6"
              [nzShowInfo]="false" />
          </div>
          <p class="mt-sm">{{ 'validation.password.strength.msg' | i18n }}</p>
        </div>
      </ng-template>
      <ng-template #passwordErrorTip let-i>
        <ng-container *ngIf="i.errors.required">
          {{ 'app.login.validate-password' | i18n }}
        </ng-container>
        <ng-container *ngIf="i.errors.pattern">
          {{ 'app.login.validate-password-pattern' | i18n }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
        <nz-form-label nzRequired="true">{{ 'app.register.form-confirm-password-placeholder' | i18n }}</nz-form-label>
        <input nz-input type="password" formControlName="confirm" maxlength="50"
          placeholder="{{ 'app.register.form-confirm-password-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.confirm-password.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.matchControl">{{ 'validation.password.twice' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired="true">{{ 'app.register.form-phone-placeholder' | i18n }}</nz-form-label>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mobileErrorTip">
      <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="mobilePrefix" style="width: 100px">
            <nz-option *ngFor="let prefix of mobilePrefixes" [nzLabel]="prefix.code + ' ' + prefix.dial_code"
              [nzValue]="prefix.dial_code" />
          </nz-select>
        </ng-template>
        <input formControlName="mobile" nz-input placeholder="{{ 'app.register.form-phone-placeholder' | i18n }}" />
      </nz-input-group>
      <ng-template #mobileErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.phone-number.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.pattern">{{ 'validation.phone-number.wrong-format' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.maxlength">{{ 'validation.phone-number.maxlength' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'validation.verification-code.required' | i18n">
      <nz-row [nzGutter]="8">
        <nz-col [nzSpan]="24">
          <nz-form-item ngSize="large">
            <re-captcha (resolved)="resolved($event)" siteKey="6Lejqh8pAAAAAE3-td7Z-_ME6Q9GdFkDpRkvoDsm" />
          </nz-form-item>
        </nz-col>
      </nz-row>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading" class="submit"
      [disabled]="form.invalid || disableSubmitButton">
      {{ 'app.register.register' | i18n }}
    </button>
    <a class="login" routerLink="/passport/login">{{ 'app.register.sign-in' | i18n }}</a>
  </nz-form-item>
  <nz-form-item>
    <p>{{ 'app.register.question-resend-verification' | i18n }}
      <b><a routerLink="/passport/resendverificationemail">{{ 'app.register.do-click-here' | i18n }}</a></b>
    </p>
  </nz-form-item>
</form>