<div class="container">
  <header-i18n showLangText="false" class="langs" />
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">Zamba</span>
      </div>
      <div class="desc">{{ 'app.passport.welcome' | i18n }}</div>
    </div>
    <router-outlet />
    <global-footer>
      Copyright
      <i nz-icon nzType="copyright"></i> 2023 - Argentina
    </global-footer>
  </div>
</div>
<theme-btn />