<nz-spin [nzSpinning]="userLoading">
  <h1>Datos Personales</h1>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Empresa CUIT</nz-form-label>
      <input nz-input placeholder="" type="number" disabled>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Nro Legajo</nz-form-label>
      <input nz-input placeholder="" type="number" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Apellido y Nombre</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>CUIL | CUIT</nz-form-label>
      <input nz-input placeholder="" type="number">
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Fecha de Ingreso o Alta</nz-form-label>
      <nz-date-picker style="width: 100%"></nz-date-picker>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Fecha de Egreso o Baja</nz-form-label>
      <nz-date-picker style="width: 100%"></nz-date-picker>
    </div>
  </div>


  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Sexo</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Estado Civil</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Nacionalidad</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Tipo de Documento</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Numero de Documento</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Obra Social o Prepaga</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>ART</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Pais</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Provincia</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Departamento Provincial</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Municipio</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Localidad</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Barrio</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Calle</nz-form-label>
      <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
        name="geographic.province.key" required class="width-100 mr-sm">
        <nz-option />
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Altura Calle</nz-form-label>
      <input nz-input placeholder="" type="number" />
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Piso</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Unidad Funcional o Depto</nz-form-label>
      <input nz-input placeholder="" type="number" />
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Piso</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Codigo Postal</nz-form-label>
      <input nz-input placeholder="" type="number">
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Codigo Pais Tel o Celular 1</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Codigo Area Tel o Celular 1</nz-form-label>
      <input nz-input placeholder="" type="number">
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Nro Telefono 1</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Nro Celular 1</nz-form-label>
      <input nz-input placeholder="" type="number">
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Codigo Pais Tel o Celular 2</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Codigo Area Tel o Celular 2</nz-form-label>
      <input nz-input placeholder="" type="number">
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Nro Telefono 2</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-label>Nro Celular 2</nz-form-label>
      <input nz-input placeholder="" type="number">
    </div>
    <div nz-col nzSpan="12">
      <nz-form-label>Mail Personal</nz-form-label>
      <input nz-input placeholder="" type="text" />
    </div>
  </div>
</nz-spin>