<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs">
    <nz-tab [nzTitle]="'app.login.tab-login-credentials' | i18n">
      <nz-alert
        *ngIf="error"
        [nzType]="'error'"
        [nzMessage]="'app.login.message-invalid-credentials' | i18n"
        [nzShowIcon]="true"
        class="mb-lg"
      />
      <nz-alert *ngIf="serverError" [nzType]="'error'" [nzMessage]="'app.server.error-message' | i18n" [nzShowIcon]="true" class="mb-lg" />
      <nz-alert
        *ngIf="authServerError"
        [nzType]="'error'"
        [nzMessage]="'app.server.error-auth-message' | i18n"
        [nzShowIcon]="true"
        class="mb-lg"
      />
      <nz-form-item>
        <nz-alert
          *ngIf="errorUserIsNotActive"
          [nzType]="'error'"
          [nzMessage]="'app.server.error-user-isnot-active' | i18n"
          [nzShowIcon]="true"
          class="mb-lg"
        />
        <nz-form-control [nzErrorTip]="mailErrorTip">
          <nz-input-group nzSize="large" nzPrefixIcon="mail">
            <input nz-input formControlName="email" placeholder="{{ 'app.register.form-email-placeholder' | i18n }}" />
          </nz-input-group>
        </nz-form-control>
        <ng-template #mailErrorTip let-i>
          <ng-container *ngIf="i.errors?.required">{{ 'validation.email.required' | i18n }}</ng-container>
          <ng-container *ngIf="i.errors?.email">{{ 'validation.email.wrong-format' | i18n }}</ng-container>
          <ng-container *ngIf="i.errors?.maxlength">{{ 'validation.email.maxLength' | i18n }}</ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTip">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="{{ 'app.login.password' | i18n }}" />
          </nz-input-group>
          <ng-template #passwordErrorTip let-i>
            <ng-container *ngIf="i.errors.required">
              {{ 'app.login.validate-password' | i18n }}
            </ng-container>
            <ng-container *ngIf="i.errors.pattern">
              {{ 'app.login.validate-password-pattern' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab [nzTitle]="'app.login.tab-login-mobile' | i18n" *ngIf="false">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTip">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="mobile" placeholder="mobile number" />
          </nz-input-group>
          <ng-template #mobileErrorTip let-i>
            <ng-container *ngIf="i.errors.required">
              {{ 'validation.phone-number.required' | i18n }}
            </ng-container>
            <ng-container *ngIf="i.errors.pattern">
              {{ 'validation.phone-number.wrong-format' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'validation.verification-code.required' | i18n">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-group nzSize="large" nzPrefixIcon="mail">
                <input nz-input formControlName="captcha" placeholder="captcha" />
              </nz-input-group>
            </nz-col>
            <nz-col [nzSpan]="8">
              <button type="button" nz-button nzSize="large" [disabled]="count >= 0" nzBlock [nzLoading]="loading">
                {{ count ? count + 's' : ('app.register.get-verification-code' | i18n) }}
              </button>
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <a class="forgot" routerLink="/passport/resetpassword">{{ 'app.login.forgot-password' | i18n }}</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
      {{ 'app.login.login' | i18n }}
    </button>
  </nz-form-item>
</form>
<div class="other">
  <a class="register" routerLink="/passport/register">{{ 'app.login.signup' | i18n }}</a>
</div>
<iframe [src]="safeZambaUrl" frameborder="0" height="0" width="0"></iframe>
