<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="../../../../assets/logo-zamba-rrhh.png" />
      </div>
      <div class="desc"></div>
    </div>

    <ng-container *ngIf="!validatingToken">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
        <nz-tabset [nzAnimated]="false" class="tabs">
          <nz-tab [nzTitle]="'app.login.tab-login-reset-password' | i18n">
            <nz-alert
              *ngIf="serverError"
              [nzType]="'error'"
              [nzMessage]="'app.server.error-message' | i18n"
              [nzShowIcon]="true"
              class="mb-lg"
            />
            <nz-form-item>
              <nz-form-control [nzErrorTip]="passwordErrorTip">
                <nz-input-group nzSize="large" nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                  <input
                    nz-input
                    [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="{{ 'app.login.newpassword' | i18n }}"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
                </ng-template>
                <ng-template #passwordErrorTip let-i>
                  <ng-container *ngIf="i.errors.required">
                    {{ 'app.login.validate-password' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="i.errors.pattern">
                    {{ 'app.login.validate-password-pattern' | i18n }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="repasswordErrorTip">
                <nz-input-group nzSize="large" nzPrefixIcon="lock" [nzSuffix]="suffixTemplate2">
                  <input
                    nz-input
                    [type]="passwordVisible2 ? 'text' : 'password'"
                    formControlName="repassword"
                    placeholder="{{ 'app.login.repeatnewpassword' | i18n }}"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate2>
                  <span nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'" (click)="passwordVisible2 = !passwordVisible2"></span>
                </ng-template>
                <ng-template #repasswordErrorTip let-i>
                  <ng-container *ngIf="i.errors.required">
                    {{ 'app.login.validate-password' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="i.errors.pattern">
                    {{ 'app.login.validate-password-pattern' | i18n }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </nz-tab>
        </nz-tabset>
        <nz-form-item>
          <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock [disabled]="form.invalid">
            {{ 'app.register.reset-password-submit-button' | i18n }}
          </button>
        </nz-form-item>
      </form>
    </ng-container>

    <!-- <global-footer>
            Copyright
            <i nz-icon nzType="copyright"></i> 2023 - Argentina
        </global-footer> -->
  </div>
</div>
