<app-carousel *ngIf="widget['type'] === 'carousel'" [resizeEvent]="resizeEvent" [changeEvent]="changeEvent"
  [widget]="widget" />
<calendar-widget *ngIf="widget['type'] === 'calendar'" [resizeEvent]="resizeEvent" [widget]="widget" />
<ng-container *ngIf="widget['type'] === 'videoplayer'" class="bg-video-color">
  <videoplayer [resizeEvent]="resizeEvent" [widget]="widget" />
</ng-container>
<pending-tasks class="pending-tasks" *ngIf="widget['type'] === 'pending-tasks'" [resizeEvent]="resizeEvent"
  [widget]="widget" />

<app-pending-vacations *ngIf="widget['type'] === 'pending-vacations'" [widget]="widget" />