<app-carousel *ngIf="widget['type'] === 'carousel'" [resizeEvent]="resizeEvent" [changeEvent]="changeEvent"
    [widget]="widget"></app-carousel>
<calendar-widget *ngIf="widget['type'] === 'calendar'" [resizeEvent]="resizeEvent" [widget]="widget"></calendar-widget>
<ng-container *ngIf="widget['type'] === 'videoplayer'" class="bg-video-color">
    <videoplayer [resizeEvent]="resizeEvent" [widget]="widget"></videoplayer>
</ng-container>
<pending-tasks *ngIf="widget['type'] === 'pending-tasks'" [resizeEvent]="resizeEvent" [widget]="widget"></pending-tasks>