<div nz-row class="py-lg ">
  <div nz-col [nzSpan]="24" [nzSm]="24" [nzMd]="18">
    <nz-card>
      <ng-container *ngIf="user">

        <div class="avatar-holder">
          <img src="{{ user.avatar }}" />
          <div class="name">{{ user.name }}{{ user.lastName }}</div>
          <div>{{ user.position }}</div>
        </div>

        <div nz-row nzGutter="4">
          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>name</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true" value="{{ user.name }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>lastName</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true"
              value="{{ user.lastName }}" />
          </div>

          <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
            <nz-form-label>email</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true" value="{{ user.email }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzMd]="6">
            <nz-form-label>phone</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true" value="{{ user.phone }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzMd]="6">
            <nz-form-label>cumple</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true"
              value="{{ user.lastName }}" />
          </div>
        </div>

        <hr>

        <div nz-row nzGutter="4">
          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>company</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true"
              value="{{ user.companyName }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>position</nz-form-label>
            <input nz-input formControlName="companyName" placeholder=" " [disabled]="true"
              value="{{ user.position }}" />
          </div>
        </div>

        <br>

        <div class="detail">
          <p><i class="address"></i> {{ user.state }} {{ user.city }} {{ user.country }} Zip: {{ user.zip }}</p>
        </div>

      </ng-container>
    </nz-card>
  </div>
</div>