<div nz-row class="py-lg ">
  <div nz-col [nzSpan]="24">
    <nz-card>
      <ng-container *ngIf="user">

        <div class="avatar-holder">
          <img src="{{ user.avatar }}" />
          <div class="name">{{ user.name }} {{ user.lastName }}</div>
          <div>{{ user.position }}</div>
        </div>

        <nz-divider nzText="Datos personales"></nz-divider>

        <div nz-row nzGutter="4">
          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>name</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.name }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>lastName</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.lastName }}" />
          </div>

          <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
            <nz-form-label>email</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.email }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzMd]="6">
            <nz-form-label>Work Cell Phone</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.workCellPhone }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzMd]="6">
            <nz-form-label>cumple</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.birthday | date: 'dd/MM/yyyy' }}" />
          </div>
        </div>

        <div nz-row nzGutter="4">
          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>password</nz-form-label>
            <input nz-input type="password" placeholder=" " [disabled]="true" value="{{ user.name }}" />
          </div>
        </div>


        <nz-divider nzText="Datos de Empresa"></nz-divider>

        <div nz-row nzGutter="4">
          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>company</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.company }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>position</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.position }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>employmentStatus </nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.employmentStatus }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>Area</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.area }}" />
          </div>

        </div>

        <div nz-row nzGutter="4">
          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>department</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.company }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>dateEmploymentEntry</nz-form-label>
            <input nz-input placeholder=" " [disabled]="true"
              value="{{ user.dateEmploymentEntry | date: 'dd/MM/yyyy' }}" />
          </div>

          <div nz-col [nzSpan]="12" [nzSm]="12" [nzMd]="6">
            <nz-form-label>workmode </nz-form-label>
            <input nz-input placeholder=" " [disabled]="true" value="{{ user.workMode }}" />
          </div>

        </div>
      </ng-container>
    </nz-card>
  </div>
</div>