<layout-default [options]="options" [asideUser]="asideUserTpl" [content]="contentTpl" [customError]="null">
  <layout-default-header-item direction="left">
    <a layout-default-header-item-trigger routerLink="/dashboard/widgets">
      <i nz-icon nzType="home"></i>
    </a>
  </layout-default-header-item>

  <layout-default-header-item direction="middle" />

  <layout-default-header-item direction="right">
    <header-notify />
  </layout-default-header-item>

  <layout-default-header-item direction="right" hidden="mobile">
    <div layout-default-header-item-trigger nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
      <i nz-icon nzType="setting"></i>
    </div>
    <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
      <div nz-menu style="width: 200px">
        <div nz-menu-item>
          <header-fullscreen />
        </div>
        <div nz-menu-item>
          <header-clear-storage />
        </div>
        <div nz-menu-item>
          <header-i18n />
        </div>
      </div>
    </nz-dropdown-menu>
  </layout-default-header-item>

  <layout-default-header-item direction="right">
    <header-user />
  </layout-default-header-item>

  <ng-template #asideUserTpl>
    <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="userMenu" class="alain-default__aside-user">
      <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="user.avatar" />
      <div class="alain-default__aside-user-info">
        <strong>{{ user.name }}</strong>
        <p class="mb0">{{ user.email }}</p>
      </div>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item routerLink="/pro/account/center">{{ 'menu.account.center' | i18n }}</li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>

  <ng-template #contentTpl>
    <router-outlet />
  </ng-template>
</layout-default>

<setting-drawer *ngIf="showSettingDrawer" />
<!-- <theme-btn /> -->
